body {
  font-family: "Amatic SC", cursive;
  background-image: url("bg-pattern.png");
}
.container {
  text-align: center;
  margin-top: 30px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  color: #1d775f;
  margin-bottom: 10px;
}
@media (max-width: 440px) {
  .header {
    font-size: 60px;
  }
}
.header__buckle {
  font-size: 100px;
}
.btn {
  background-color: #1d775f;
  padding: 8px 15px 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
}
.btn:hover {
  background-color: #12634d;
}
.btn-delete {
  background-color: transparent;
  border: none;
  color: #8f8f8f;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
.btn-delete:hover {
  font-weight: bold;
}
.textInput {
  border: 1px solid #000;
  padding-top: 5px;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  outline: none;
  width: 160px;
}
.textInput__container {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.notes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 25px;
}
.note {
  background: #eae672;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 30px;
  font-weight: normal;
  width: 240px;
  height: fit-content;
  margin-top: 30px;
  padding: 20px 25px;
  position: relative;
}
.note:nth-child(even) {
  transform: rotate(-2deg);
}
.note:nth-child(odd) {
  transform: rotate(4deg);
}
.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}
.pin:after {
  background-color: #a31;
  background-image: radial-gradient(
    circle at 25% 25%,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 3px 3px 3px rgba(255, 255, 255, 0.2),
    inset -3px -3px 3px rgba(0, 0, 0, 0.2), 23px 20px 3px rgba(0, 0, 0, 0.15);
  content: "";
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
  content: "";
  height: 24px;
  width: 2px;
  left: 12px;
  position: absolute;
  top: 12px;
  transform: rotate(57.5deg);
}
.error {
  font-size: 30px;
  font-weight: bold;
  color: #e23537;
  padding: 20px 0;
}
.effect {
  border: 1px solid #000;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.effect ~ .focus-border:before,
.effect ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1d775f;
  transition: 0.4s;
}
.effect ~ .focus-border:after {
  top: auto;
  bottom: 0;
}
.effect ~ .focus-border i:before,
.effect ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #1d775f;
  transition: 0.6s;
}
.effect ~ .focus-border i:after {
  left: auto;
  right: 0;
}
.effect:focus ~ .focus-border:before,
.effect:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.effect:focus ~ .focus-border i:before,
.effect:focus ~ .focus-border i:after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}
